h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 50%;
  height: 80vh;
  background-color: grey;
  border: thin solid blueviolet;
}

.grid-explicit {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
}

.indiv:hover {
  border: solid;
  border-color: red;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat();
  grid-template-rows: repeat();
  margin: 0 auto;
  width: 600px;
  height: 600px;

  /* background-color: rgb(138, 236, 243); */
  border: thin solid blueviolet;
}

.celda {
  height: auto;
  width: auto;
}

.celda:hover {
  background-color: red;
}

.paintBlack {
  color: black;
  background-color: yellow;
}
